<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>web_gradle_member_mgm</display-name>
  <filter>
  	<description>
  	</description>
  	<display-name>LoginCheckFilter</display-name>
  	<filter-name>LoginCheckFilter</filter-name>
  	<filter-class>web_gradle_member_mgn.filter.LoginCheckFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginCheckFilter</filter-name>
  	<url-pattern>/admin/*</url-pattern>
  </filter-mapping>

    		<error-page>
  			<error-code>500</error-code>
  			<location>/error/500.jsp</location>
  		</error-page>

		<error-page>
  			<error-code>404</error-code>
  			<location>/error/404.jsp</location>
  		</error-page>
  		
  		<error-page>
  			<exception-type>java.lang.NullPointerException</exception-type>
  			<location>/error/null.jsp</location>
  		</error-page>
 
</web-app>